<!DOCTYPE html>
<html><head>
  <title>{% if page.title %}{{ page.title }} â&#8364;&#8220; {% endif %}{{
site.name }} â&#8364;&#8220; {{ site.description }}</title>

  
  
  <link rel="stylesheet" type="text/css" href="%7B%7B%20site.baseurl%20%7D%7D/style.css">

  
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="%7B%7B%20site.baseurl%20%7D%7D/feed.xml">

</head><body>{% include meta.html %}<!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--><!--Working on the railroad-->
<div class="wrapper-masthead">
<div class="container"> <header class="masthead clearfix"> <a href="%7B%7B%20site.baseurl%20%7D%7D/" class="site-avatar"><img src="%7B%7B%20site.avatar%20%7D%7D"></a> </header>
<div class="site-info">
<h1 class="site-name"><a href="%7B%7B%20site.baseurl%20%7D%7D/">{{
site.name }}</a></h1>
<p class="site-description">{{ site.description }}</p>
</div>
<nav> <a href="%7B%7B%20site.baseurl%20%7D%7D/">Blog</a> <a href="%7B%7B%20site.baseurl%20%7D%7D/about">About</a> </nav> </div>

</div>

<div id="main" role="main" class="container"> {{ content }} </div>

<div class="wrapper-footer">
<div class="container"> <footer class="footer"> {% include
svg-icons.html %} </footer> </div>
</div>

{% include analytics.html %}
</body></html>